	/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Avenir Next,sans-serif ;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PERSONAL CONFIG */

/* Navbar */
/*Fixed non working "a" tags by using z-index = 3 at 
the necessary nav elements*/
.collapse.show {
    background-color: white;
    opacity: 0.8;
}

nav {
	position: absolute !important;	
	width: 100%;
	background-color: #5f5959,
	/*padding-left: 115px !important;*/
    padding-top: 25px !important;
}
.navbar {
    z-index: 1;
}

nav .navbar-collapse {
	justify-content: center;
	align-items: center;
}

nav .nav-item {
	padding: 0 1vh 0 1vh;
}

nav .nav-link {
	font-size: 2.5vh;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

nav .blog-button {
	margin-left: 45%;
	background-color: #28a745;
    border-color: #28a745;
    border-radius: 7%;
}

nav .navbar-toggler {
	width: 15vw;
	height: 15vw;
	z-index: 3;
}

nav .navbar-toggler-icon {
	z-index: 3;
}

/* Header */

header {
	background: url(images/mainbackground.jpg);
	/* Full height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: #5f5959;
}

.container {
	padding-top: 65px;
	padding-bottom: 35px;
}

#wrapper {
	height: 100%;
}

#arrow {
	bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    padding-right: 4%;
    padding-bottom: 5%;
    cursor: pointer;
}

#inner {
	padding-top: 10%;  /* rescpecto a que es este porcentaje? toda la pagina */
}

#inner-title {
	background-color: #a5484800;
    color: #fbfbfb;
    text-align: center;
    padding-top: 20vh;
    font-size: 8vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5vw;
    margin-left: 1vw;
}

#subtitle {
	text-align: center;
	color: #fbfbfb;
	font-size: 2vw;
	letter-spacing: 1.5vw;
}

.section {
	height: 100% ;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;

}

.section #video{
}

.section.white {
	background-color: white;
	min-height: 450px;
}

.section.grey {
	background-color: #f2f2f2;
}


/* quem somos */
#about-us-section-title {
	padding-top: 15vh;
}

#about-us-section-text {
	padding-bottom: 15vh;
	text-align: justify;
}


/* Video */

#videos {    
    height: 100%;
}

.video-description {
	color:#000000c2;
	margin:auto;
	text-align: justify;
}

.video-description h4 {
	padding-bottom: 10vh;
}

.video-title {
	text-transform: uppercase; /* remove ,add it with boostrap */
    margin-top: 25px; /* remove ,add it with boostrap */
	margin-bottom: 5px; /* remove ,add it with boostrap */
 	font-family: 'Avenir Next', sans-serif;
    font-weight: 1000;
}

#videos-subcontainer{
    margin-top: 25px;
}

.offset_lg_2 {
    margin-left: 20.666667% !important;
}

/*carousel*/

.MultiCarousel { 
	float: left; 
	overflow: hidden; 
	padding: 15px; 
	width: 100%; 
	position: relative;
}

    .MultiCarousel .MultiCarousel-inner { 
    	transition: 1s ease all;
    	float: left; 
    }

        .MultiCarousel .MultiCarousel-inner .item { 
        	float: left;
        }

        	.MultiCarousel .MultiCarousel-inner .item > div { 
        		text-align: center; 
        		margin: 10px;
        		background: #f1f1f1;
        		color:#666;
        	}

        	.MultiCarousel .MultiCarousel-inner .item > div {
				padding-bottom: 35px;
        	}

        	.MultiCarousel .MultiCarousel-inner .item > div > h1 {
				padding-top: 35px;
				padding-bottom: 15px;
				color: #101B19;
				font-weight: 500;
        	}

        	.MultiCarousel .MultiCarousel-inner .item > div > p {
				padding-right: 25px;
				padding-left: 25px;
			}

        	.MultiCarousel .MultiCarousel-inner .item > div > a > img {
				max-width: 100%;        	
        	}

   .MultiCarousel .leftLst, .MultiCarousel .rightLst { 
   		position: absolute;
   		border-radius: 50%;
   		top: calc(50% - 20px); 
   	}

	.MultiCarousel .leftLst { 
		left: 0; 
	}

	.MultiCarousel .rightLst { 
		right: 0;
	}

	.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
		pointer-events: none;
		background:#ccc;
}

/* braços */

#arms-title {
	padding-bottom: 30px;	
}

.box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    background-color: white;
	-webkit-box-shadow:0px 22px 68px -9px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0px 22px 68px -9px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15)
}

.img-fluid {
	min-width: 100%;
	height: auto;
}

.card-title {
    margin-top: 5%;
}

.card-description {
    width: 75%;
    margin: auto;
}

/* Contatos */
#contact-section {
}

#form-footer {
	padding: 0vh 10vh 10vh 10vh;
}

#about-us-title-inner {
	padding: 0 50px 0 50px;
	color: white;
}

#contact-us-title, #instagram-title, #about-us-title {
	background-color: #a5484800;
    color: #fbfbfb;
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 11px;
    font-family: 'Avenir Next';
}

.contact {
    background-color: #212529;
    background-image: url(../css/images/map-image.png);
    background-repeat: no-repeat;
    background-position: center;
}

footer#contact-section .form-group input,footer#contact-section .form-group textarea {
	padding: 20px;
}

footer#contact-section .form-group textarea.form-control {
    height: 181px;
}

footer#contact-section .form-control:focus {
    border-color: #259e41;
    -webkit-box-shadow: none;
    box-shadow: none
}

footer#contact-section ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

footer#contact-section :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

footer#contact-section ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

footer#contact-section :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

/*==========  Mobile First Method  ==========*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

	h1 {
		font-size: 2.3rem !important;
	}

	h4 {
	    font-size: 1.2rem !important;
	    line-height: 1.5 !important;
	}

	/* nav bar */
	nav .nav-link {
		font-size: 3.5vh;
    	font-weight: 900;
	    color: green;
	    letter-spacing: 20px;	
	}

	.navbar-nav {
    	padding-left: 20px;
	}

	nav .nav-item {
	    padding: 15px 0vh 10px 5vh;
	}

	.navbar {
	    padding: 0!important;
	}

	nav .blog-button {
	    margin-left: 0;
		background-color: transparent;
	}
	/* nav bar */

	#inner-title {
    	font-size: 17vw;
    	letter-spacing: 1vw;
	}

	#subtitle {
	    font-size: 4vw;
	    font-weight: bold;
	    letter-spacing: 0.5vw;
	}

	#arrow {
	    padding-right: 15%;
	    padding-bottom: 15%;
	}

	/* quem somos */
	/*.title-section { 
	    padding-top: 0.3rem;
    	padding-bottom: 0.1rem;
	}*/

	/*.about-us-description {
		padding-bottom: 20px;
	}*/

	/* video */
	.offset_lg_2 {
	    margin-left: 0 !important;
	}

	/* delete paddings */
	.video-description {
    	padding-bottom: 20px;
	}
	/*desactivate becouse was buggin*/
/*	#inner-title {
	    font-size: 60px;
	}*/

	#inner {
    	padding-left: 7px;
	}

	/* cliente */
	.item {
		width: 270px !important;
	}


	/* braços  */
	.box {
	    padding-bottom: 0px;
	}

	/*contact*/
	#form-footer {
		padding: 10vh 0 0 0;
	}

}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

